.show-modal{
    display: block;
}
nav a {
  padding-left: 50px;
  float: left;

}

.nav-links{
  float: right;
  padding-top: 1em;
  border: none;
}

header a {
  color: #085252;
  padding-top: 2em;
}
nav .glyphicon-tree-conifer{
  font-size: 50px;

}

nav {

  margin-top: -70px;
  padding-right: 15px;
  height: 5em;
  background-color: white;

  /*margin-bottom: 2em;*/
  /*Andreas:;
  position:relative;
  z-index: :-1;*/
  /*font-family: sans-serif;*/
}

h1 {
  text-align: center;
  /*color: green;*/

}
.avatar {
  height:110%;
  width:110%;
  padding:10%;
  padding-top: 25em;

}

a:hover {
    text-decoration: none;
    color: black;
}

body {


  z-index: 0;
  padding-top: 150px;
  font-family: sans-serif;
  background-image: linear-gradient(to bottom, black, #74C6B8 100%);
  background-attachment: fixed;
  position: relative;
  padding: 0;
  margin: 0;
  font-size: 14px;
}
textarea {
  resize: none
}

.jumbotron {

  padding-top: 10em;
  margin-bottom: 0px;
  z-index: 2;
  width: 100%;
  height: 100vh;
  text-align: center;
  background-size: cover;
  background-image: url('https://scontent.fyhz1-1.fna.fbcdn.net/t31.0-8/1534864_10200952205441788_1971396802_o.jpg');
  color: white;
  background-position: 50% 50%;
    background-repeat: no-repeat;
    text-shadow: black 0.3em 0.3em 0.3em;
}
.jumbotron .lead {
  padding-top: 1em;
}
.jumbotron .container {
position: relative;
top:100px;
}

.profile {
  /*border: 1px solid;*/
  padding:20px;

}

.card{
  border: 1px solid grey;
  padding: 1em;
  background: #40766D;
  margin-top: 3em;
  padding-bottom: 3em;
  color: white;

}
.card:hover{
  opacity: .85;
}
.more-detail {
margin-top: 1em;
color: black;
}
.browse {

  padding: 1em;
  padding-left: 1em;
  padding-right: 1em;
  background-color: #E4F0EE;
  width: 100%;
  text-align: center;

}


.browse .form-group {
padding: 1em;
padding-right: 2em;
padding-left: 2em;
font-size: 16px;


}
.browse label {
  padding-right: 1em;
}

.editProfile {
  background-color: white;
  margin-top: 1em;

}
.new_event {
  background-color: white;

  padding-top: 2em;

}

.guide-app {
  background-color: white;
  margin-top: 1em;

}

#login-buttons {
  display: block;
}

/*h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}*/

input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}

form {
  margin-top: 10px;

  position: relative;
}
.show-guide{
  margin-top: 1em;
}

/*.new-task input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}*/

/*.new-task input:focus{
  outline: 0;
}*/

ul {
  margin: 0;
  padding: 0;
  background: white;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

li {
  position: relative;
  list-style: none;
  padding: 15px;

}

li .text {
  margin-left: 10px;
}

li.checked {
  color: #888;
}

li.checked .text {
  text-decoration: line-through;
}

li.private {
  background: #eee;
  border-color: #ddd;
}

header .hide-completed {
  float: right;
}

.toggle-private {
  margin-left: 5px;
}

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }



  .search {
    width: 150px;
    clear: both;
  }

  .new-task input {
    padding-bottom: 5px;
  }
}