.show-modal{
    display: block;
}
nav a {
  padding-left: 50px;
  float: left;


}
/*nav .editProfileLink {
  float: right;

}
nav .addNewEvent {
  float: right;
}*/
header a {
  color: green;
  padding-top: 2em;
}
nav {
  color: green;
  margin-top: -70px;
  padding-right: 15px;
  height: 5em;
  background-color: white;

  /*margin-bottom: 2em;*/


  /*Andreas:;
  position:relative;
  z-index: :-1;*/

  /*z-index: 1;
  top: 0;
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  padding: 20px 15px 15px 15px;
  border-radius: 0px;
  position: fixed;
  width: 100%;

  font-family: sans-serif;*/
}

h1 {
  text-align: center;
  color: green;

}
.avatar {
  height:110%;
  width:110%;
  padding:10%;
  float:bottom;
}
.jumbo {
  height:20%;
  width:100%;
  position:relative;
  z-index:1;
  margin:0;
  float:left;

}

a:hover {
    text-decoration: none;
}

body {


  z-index: 0;
  padding-top: 150px;
  font-family: sans-serif;
  background-color: #315481;
  background-image: linear-gradient(to bottom, black, #74C6B8 100%);
  background-attachment: fixed;
  position: relative;
  padding: 0;
  margin: 0;
  font-size: 14px;
}
textarea {
  resize: none
}

.jumbotron {
padding-top: 10em;

  margin-bottom: 0px;
  width: 100%;
  height: 40em;
  text-align: center;
/*background-position: 50% 50%;*/
   /* background-size: cover;
    background-repeat: no-repeat;*/
    color: green;


    /*text-shadow: black 0.3em 0.3em 0.3em;*/
}
.jumbotron .display-3 {
  font-size: 100px;

  /*position: absolute;*/
  /*top: 35%;*/
  /*left: 50%;*/

}
.jumbotron .lead {
  /*position: absolute;
  top: 46%;
  left: 50%;*/
}
.jumbotron .sign_up_button{
  /*position: absolute;
  top: 62%;
  left: 50%;*/
}


.profile {
  /*border: 1px solid;*/
  padding:20px;

}
.container {
  /*position: relative;
  background: white;

  margin: 0 auto;

  padding-top: 1em;
  min-height: 100%;
  background: white;
  border-top-width: 100px;*/
}

.card{
  border: 1px solid grey;
  padding: 1em;
  /*border-radius: 1em;*/
  background: #40766D;
  margin-top: 3em;
  padding-bottom: 3em;
  color:white;

}
.card:hover{
  opacity: .85;
}
.more-detail {
margin-top: 1em;
color: black;
}
.browse {
  /*border: 1px solid grey;*/
  padding: 1em;
  padding-left: 1em;
  padding-right: 1em;
  /*border-radius: 1em;*/
  background-color: #E4F0EE;
  width: 100%;
  text-align: center;

}

/*
.browse, .card {
    padding:10px;
}
.browse {

    background:#428bca;
    color:#fff;
    height:50px;
    line-height:30px;
    letter-spacing:1px;
    width:100%;
}
.card {
    margin-top:10px;
}
.browse-padding {
    padding-top:40px;
}
.card p {
    margin-bottom:20px;
}
.sticky {
    position:fixed;
    top:0;
}*/

.browse .form-group {
padding: 1em;
padding-right: 2em;
padding-left: 2em;
font-size: 16px;


}
.browse label {
  padding-right: 1em;
}

.editProfile {
  background-color: white;
  margin-top: 1em;

}
.new_event {
  background-color: white;

  padding-top: 2em;

}

.guide-app {
  background-color: white;
  margin-top: 1em;

}

#login-buttons {
  display: block;
}

/*h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}*/

input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}

form {
  margin-top: 10px;

  position: relative;
}
.show-guide{
  margin-top: 1em;
}

/*.new-task input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}*/

/*.new-task input:focus{
  outline: 0;
}*/

ul {
  margin: 0;
  padding: 0;
  background: white;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

li {
  position: relative;
  list-style: none;
  padding: 15px;
  /*border-bottom: #eee solid 1px;*/
}

li .text {
  margin-left: 10px;
}

li.checked {
  color: #888;
}

li.checked .text {
  text-decoration: line-through;
}

li.private {
  background: #eee;
  border-color: #ddd;
}

header .hide-completed {
  float: right;
}

.toggle-private {
  margin-left: 5px;
}

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-task input {
    padding-bottom: 5px;
  }
}